*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  background: #fafafa;

  font-size: 14px;
  color: #252b42;

  font-weight: 500;
  font-family: Montserrat;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
/* нижнее подчеркивание - технический класс */
._container {
  max-width: 1046px;

  padding: 0 15px;
  margin: 0 auto;

  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ---------------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;

  left: 0;
  top: 0;

  z-index: 50;
}
.header__container {
  display: flex;

  min-height: 104px;

  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;

  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
    font-size: 18px;
  }
}

.menu {
  padding: 5px 0px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  color: #737373;

  font-weight: 600px;
  line-height: calc(24 / 14 * 100%);
}

/* ---------------------------------------------------------------------------- */
/* -----PAGE------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
}

.page__main-block {
}

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}

.page_advantages {
}

.page__practice {
}

.page__whoweare {
}

.page__clients {
}

.page__subscribe {
}

/* -----MAIN BLOCK------------------------------------------------------------- */

.main-block {
  position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
  max-width: 400px;

  padding: 184px 0px 191px 0px;

  position: relative;

  z-index: 3;
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  font-size: 20px;
  line-height: 150%;
  color: #737373;
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  border-radius: 37px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 48px;

  padding: 5px 36px;

  font-weight: 700;
  font-size: 14px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.2px;
  margin: 10px 0;
}
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button_orange {
  background: #ff7b47;
  color: #ffffff;
}

.main-block__button_border {
  border: 1px solid #0d5c63;
  color: #0d5c63;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}
@media (max-width: 1100px) {
  .main-block__image img {
    opacity: 0.5;
  }
}

/* -----SERVICES------------------------------------------------------------------- */
.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}
.services__column {
  padding: 0 15px;
  flex: 0 1 33.333%;
}
@media (max-width: 1020px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .services__column:last-child {
    flex: 0 1 100%;
  }
}
.services__item {
  min-width: 300px;

  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: #ffffff;
  padding: 35px 40px;

  height: 100%;
}
.item-service {
}
.item-service_green {
  background: #0d5c63;
}
.item-service_green .item-service__title {
  color: #ffffff;
}
.item-service_green .item-service__text {
  color: #ffffff;
}
.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__icon {
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;

  letter-spacing: 0.1px;
}
.item-service__text {
  font-size: 14px;
  line-height: 143%;

  letter-spacing: 0.2px;

  color: #737373;
}

/* -----ADVANTAGES------------------------------------------------------------------- */
.header-block {
  text-align: center;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;

  letter-spacing: 0.2px;

  color: #252b42;
}
.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.header-block__sub-title {
  font-size: 14px;
  line-height: 143%;

  letter-spacing: 0.2px;

  color: #737373;
}

/* ===================================== */
.advantages {
  padding: 80px 0;
}
.advantages__container {
}
.advantages__header {
  margin: 0 0 50px 0;
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}
@media (min-width: 670px) {
}

.advantages__column {
  padding: 0 15px;
  flex: 0 1 25%;

  margin: 0 0 30px 0;
}
@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 670px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}
.advantages__item {
  background-color: #ffffff;
  padding: 30px;

  text-align: center;

  font-weight: 700;
}
.advantages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.item-advantage {
}
.item-advantage__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.item-advantage__value {
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}
.item-advantage__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #737373;
}

/* -----PRACTICE------------------------------------------------------------------- */

.practice {
  padding: 125px 0 80px 0;
}
@media (max-width: 950px) {
  .practice {
    padding: 50px 0;
  }
}
.whow .practice__container {
}
.practice__header {
  margin: 0 0 45px 0;
}
.practice__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.practice__column {
  padding: 0 15px;
  margin: 0 0 30px 0;
  flex: 0 1 25%;
}
@media (max-width: 1020px) {
  .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 670px) {
  .practice__column {
    flex: 0 1 100%;
  }
}
.practice__item {
}
.item-practice {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-practice__content {
  flex: 1 1 auto;
  padding: 30px 30px 0 30px;
}
.item-practice__link {
  display: inline-block;
  color: inherit;
  margin: 0 0 15px 0;
}
.item-practice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.item-practice__text {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;

  margin: 0 0 30px 0;
}
.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
}

/* -----WHO WE ARE------------------------------------------------------------- */
.whoweare {
  padding: 100px 0;
  background-color: #ffffff;
}
@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0;
  }
}
.whoweare__container {
}
.whoweare__header {
  margin: 0 0 100px 0;
}
@media (max-width: 950px) {
  .whoweare__header {
    margin: 0 0 30px 0;
  }
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 950px) {
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;

  padding: 0 0 42.25% 0;
}
@media (max-width: 950px) {
  .whoweare__video {
    padding: 0 0 56.25% 0;
  }
}
.whoweare__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  object-position: left;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 0 0 0 121px;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0 0 0 60px;
  }
}

@media (max-width: 950px) {
  .whoweare__content {
    padding: 0 0 0 0;
    margin: 0 0 50px 0;
  }
}
.whoweare__content > *:not(:last-child) {
  margin: 0 0 30px 0;
}
.whoweare__top {
  padding: 20px 0;
}
.whoweare__top > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;

  letter-spacing: 0.2px;
}
@media (max-width: 950px) {
  .whoweare__title {
    font-size: 30px;
  }
}
.whoweare__text {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;

  color: #737373;
}

.whoweare__item {
}
.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px;
}
.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  letter-spacing: 0.1px;
}
.item-whoweare__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;

  color: #737373;

  /* white-space: nowrap;
  text-overflow: ellipsis;
  static-size needed */
}

.clients {
  padding: 50px 0;
}
.clients__container {
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.clients__item {
  flex: 0 1 16.6667%;
  text-align: center;
  padding: 10px 20px;
  min-width: 140px;
}
.clients__item img {
  max-width: 100%;
}

/* -----SUBSCRIBE------------------------------------------------------------- */

.subscribe {
  padding: 20px 0;

  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  height: 77px;
  width: 100%;
  background: #252b42;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.subscribe__container {
}
.subscribe__body {
  position: relative;
  padding: 30px 50px;
  align-items: center;

  background: #17213c;
  border-radius: 2px;

  z-index: 3;
}
@media (min-width: 949px) {
  .subscribe__body {
    margin: 0 32px;
  }
}
@media (min-width: 740px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}
.subscribe__text {
  max-width: 266px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;

  letter-spacing: 0.1px;
  color: #ffffff;
}
@media (max-width: 740px) {
  .subscribe__text {
    margin: 0 0 15px 0;
  }
  .subscribe__body {
    margin: 0 -15px;
    padding: 20px 15px;
  }
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
.subscribe__input {
  flex: 1 1 auto;
  min-height: 58px;
  width: 100%;

  padding: 0 20px;

  box-sizing: border-box;

  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-right: 0;
  border-radius: 5px 0px 0px 5px;

  color: #737373;
}
.subscribe__button {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;

  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;

  color: #ffffff;

  padding: 0 22px;
}

/* ---------------------------------------------------------------------------- */
/* -----FOOTER------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
.footer {
}
